---
import Card from '../components/card.astro';
---

<h1>Mis servicios</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nostrum
  laudantium debitis minus deleniti officia animi sapiente! Alias, distinctio
  recusandae.
</p>

<Card title='Bienvenido' content='Holi :3' />
<Card title='Estoy' content='Aprendiendo astro' />
<Card title='Soy Desarrollador' content='Especializado en frontend' />
<Card title='Trabajemos juntos' content='Mi experiencia me respalda' />
<Card />
